@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #141414;
    height: 100vh;
} a, li, ul {
    text-decoration: none;
    list-style: none;
    color: inherit;
} video {
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}